.git
.env
.port
.DS_Store
/.nyc_output
/coverage
/node_modules
*/*/node_modules
*/*/*.log
*/*/db
/*.log
/*.out
/*.pid
/*.err
/env-vars-*.sh
/errorShots
/uAvatarImg
/uCoverImg
/uPlaylistImg
/upload_data
/config/apns
/scripts/mongodb-scripts/db
/scripts/mongodb-scripts/*.gz
/misc
