# Ref: https://docs.docker.com/engine/reference/builder/#dockerignore-file
.dockerignore
.gitignore
.git
.env
.token
.port
.DS_Store
Dockerfile
npm-debug.log
.nyc_output
.github
.vscode
.dependency-cruiser.js
.editorconfig
applitools.config.js
/cypress*
/coverage/
/misc/
**/node_modules/
**/*.log
**/db/
/*.log
/*.out
/*.pid
/*.err
/*.conf
/env-vars-*.*
/errorShots
/uAvatarImg
/uCoverImg
/uPlaylistImg
/upload_data
/scripts/code-analysis
/scripts/data-analysis-scripts
/scripts/mongodb-scripts/db
/scripts/mongodb-scripts/*.gz
