.dockerignore
.gitignore
.git
.env
.port
.DS_Store
Dockerfile
npm-debug.log
/.nyc_output
/coverage
/node_modules
*/*/node_modules
*/*/*.log
*/*/db
/*.log
/*.out
/*.pid
/*.err
/*.conf
/env-vars-*.*
/errorShots
/uAvatarImg
/uCoverImg
/uPlaylistImg
/upload_data
/scripts/mongodb-scripts/db
/scripts/mongodb-scripts/*.gz
/misc
