.env
.port
.DS_Store
node_modules

whydJS/nbproject/private/
whydJS/upload_data/
whydJS/uAvatarImg/
whydJS/uCoverImg/
whydJS/uPlaylistImg/
whydJS/config/apns/aps_dev.cert.pem
whydJS/config/apns/aps_dev.key.pem
whydJS/config/apns/aps_prod.cert.pem
whydJS/config/apns/aps_prod.key.pem
whydJS/config/apns/Dev_Whyd.mobileprovision
whydJS/*.log
whydJS/*.out
whydJS/*.pid
whydJS/*.err
whydJS/appd.dmn
whydJS/env-vars-local.sh
whydJS/env-vars-perso.sh
/scripts/mongodb-scripts/db
/scripts/mongodb-scripts/*.gz
