.env
.port
.DS_Store
node_modules

/nbproject/private/
/uploads/
/config/apns/aps_dev.cert.pem
/config/apns/aps_dev.key.pem
/config/apns/aps_prod.cert.pem
/config/apns/aps_prod.key.pem
/config/apns/Dev_Whyd.mobileprovision
/*.log
/*.out
/*.pid
/*.err
/appd.dmn
/env-vars-local.sh
/env-vars-perso.sh
/scripts/mongodb-scripts/db
/scripts/mongodb-scripts/*.gz
