.DS_Store
rollback.sh
mongod-recom
ssh_ovh
dump
prodLogs
env-vars-local.sh

whydDataTools/bin
whydDataTools/nbproject/private/
whydDataTools/.settings/
whydDataTools/build/
whydDataTools/dist/

whydJS/nbproject/private/
whydJS/upload_data/
whydJS/uAvatarImg/
whydJS/uCoverImg/
whydJS/uPlaylistImg/
whydJS/config/apns/aps_dev.cert.pem
whydJS/config/apns/aps_dev.key.pem
whydJS/config/apns/aps_prod.cert.pem
whydJS/config/apns/aps_prod.key.pem
whydJS/config/apns/Dev_Whyd.mobileprovision
whydJS/start
whydJS/*.out
whydJS/*.pid
whydJS/*.err
whydJS/appd.out
whydJS/appd.err
whydJS/appd.dmn
whydJS/prev.out
whydJS/prev.err
whydJS/v8.log
whydJS/access.log
whydJS/node_modules
whydJS/npm-debug.log

whydDB/db
whydDB/db-recom
whydDB/dump
whydDB/log

whydElastic/data
whydElastic/logs
