version: '3'
services:
  mongo:
    image: mongo:3.6@sha256:146c1fd999a660e697aac40bc6da842b005c7868232eb0b7d8996c8f3545b05d
    command: mongod --port 27017
    volumes:
      - target: /data
        type: tmpfs
    ports:
      - '27117:27017'
    restart: 'always'

  web:
    restart: 'always'
    build: .
    ports:
      - '8080:8080'
    depends_on:
      - mongo
    env_file:
      - 'env-vars-testing.conf'
    environment:
      - DISABLE_DATADOG=true
      - MONGODB_HOST=mongo
      - MONGODB_PORT=27117
      - ALGOLIA_APP_ID
      - ALGOLIA_API_KEY
