<style>

#plContributors .searchResults {
	list-style: none;
}

#plContributors ul li {
	clear: both;
	margin-bottom: 8px;
	line-height: 24px;
}

#plContributors ul li .thumb {
	float: left;
	width: 24px;
	height: 24px;
	margin-right: 8px;
	background-size: cover;
}

</style>

<h1>Playlist members</h1>
<div id="plContributors">
	<h2>Moderators</h2>
	<ul id="listModerators">
	{{#moderators}}
		<li>
			<div class="thumb" style="background-image:url('{{img}}')"></div>
			{{name}}
		</li>
	{{/moderators}}
	</ul>
	<h2>Contributors</h2>
	<div class="filter">
		<input name="q" class="q" type="text" value="" placeholder="Search people" autocomplete="off">
	</div>
	<ul class="searchResults"></ul>
</div>

<!--script in collabPl.js-->