<style type="text/css">
/*<![CDATA[*/
body {
  background: #efefef;
  font: 12px/16px "Helvetica Neue",Arial,Sans-serif;
}

#header > div{
  width: 968px;
}

#contentPane {
  width: 968px;
}

.fbConvert h1 {
  font-size: 28px;
  margin: 50px auto;
  padding-top: 75px;
  color: #333;
  letter-spacing: 1px;
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
  font-weight: lighter;
  text-align: center;
  font-weight: bold;
}

/* CONTENT */

#needFbConnect {
  width: 640px;
  background-color: #FFF;
  margin: 0 auto;
  padding: 30px;
  margin-bottom: 18px;
  padding-bottom: 20px;
  border: 1px solid #E3E3E3;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

#needFbConnect p {
  width: 100%;
  text-align: center;
  font-size: 18px;
  margin: 40px 0;
  text-shadow: 0 1px 0 rgba(255,255,255,1);
  color: #636363;
}

#needFbConnect p.notice {
  font-size: 12px;
}

#needFbConnect a#fbConnect {
  display:block;
  border:none;
  background: url(/images/fb-connect.png);
  width: 352px;
  height: 53px;
  margin: 20px auto;
}

#needFbConnect a#fbConnect:hover {
  background-position: 0 -54px;
}

#needFbConnect a#fbConnect:active {
  background-position: 0 -108px;
}

#needFbConnect a#fbConnect.loading {
  background-position: 50% 50%;
}

#fbGroups {
  display: none;
  width: 720px;
  padding: 30px;
  margin: 0 auto;
}

#fbGroups ul {
  list-style: none;
  padding: 0;

}

#fbGroups ul#groupList li {
  position: relative;
  margin: 0;
  border: 1px solid #ccc;
  line-height: 24px;
  font-size: 15px;
  margin-bottom: 15px;
}

#fbGroups ul#groupList li div.head{
  padding: 15px;
  background-color: #FFF;
}

#fbGroups ul#groupList li div.body{
  display: none;
}

#fbGroups ul#groupList li.selected div.body{
  display: block;
  background-color: #efefef;
  border-top: 1px solid #ccc;
  padding: 15px;
  overflow: auto;
}

#fbGroups ul#groupList li.selected {
  border: 2px solid #81B452;
  /*height: 50px;*/
  -webkit-transition: height 0.2s;
}

#fbGroups ul#groupList li .radio {
  float: left;
  border: 1px solid #ccc;
  border-radius: 7px;
  width: 14px;
  height: 14px;
  margin-right: 12px;
  margin-top: 3px;
}

#fbGroups ul#groupList li.selected .radio {
  background: url(/images/puce-fbgroup-checked.png) no-repeat 50% 50%;
}

#fbGroups ul#groupList li div.body div.track {
  float: left;
  line-height: 28px;
  margin-right: 15px;
}


#fbGroups ul#groupList li div.body div.track p {
  float: left;
  font-size: 12px;
  width: 280px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#fbGroups ul#groupList li div.body div.track div {
  float: left;
  width: 40px;
  height: 32px;
  margin-right: 8px;
  background-size: cover;
  background-position: 50% 50%;
}

#fbGroups input[type=submit] {
  display: none;
}

button {
  position: absolute;
  top: 10px;
  right: 10px;
}
 
/*]]>*/
</style>

<!-- HEADER -->

<div class="fbConvert">

  <h1>Evolve your Facebook music group into a collaborative playlist</h1>

  <div class="fbStep" id="needFbConnect">
    <p>Click below and give us permission to access your groups to continue.</p>
    <a id="fbConnect" href="javascript:fbConnect();"></a>
    <p class="notice">We will only send messages to friends you explicitely selected.</p>
  </div>

  <div class="fbStep" id="noGroups" style="display:none;">
    <p>Sorry, we could not gather any groups from your Facebook account...</p>
    <p>Please try again later!</p>
  </div>

  <form action="/fbconvert" method="POST" class="fbStep" id="fbGroups">
    <input type="hidden" name="action" value="convert">
    <input type="hidden" name="fbAccessToken">
    <input type="hidden" name="fbGroupId">
    <ul id="groupList"></ul>
  </form>

</div>

<!-- CODE -->

<script>
//<![CDATA[

  var $ul = $("#fbGroups ul");
  var $fbGroupId = $("input[name=fbGroupId]");

  var eidDetectors = {
    yt: function(url) {
      return (url.match(/(youtube\.com\/(v\/|embed\/|(?:.*)?[\?\&]v=)|youtu\.be\/)([a-zA-Z0-9_\-]+)/) || []).pop();
    },
    sc: function(url) {
      return (url.indexOf("soundcloud.com/player") != -1 ? (url.match(/url=([^&]*)/) || []).pop() : null)
        || (url.match(/https?:\/\/(?:www\.)?soundcloud\.com\/([\w-_\/]+)/) || []).pop()
    },
    vi: function(url) {
      return (url.match(/https?:\/\/(?:www\.)?vimeo\.com\/(clip\:)?(\d+)/) || []).pop();
    }
  };

  function translateUrlToEid(url) {
    for (var i in eidDetectors) {
      var eId = eidDetectors[i](url);
      if (eId)
        return "/"+i+"/"+eId;
    }
  }

  function translateFacebookPost(post) {
    return (!post || !post.link) ? {} : {
      eId: translateUrlToEid(post.link),
      name: post.name,
      text: post.from.name + (post.message ? ": " + post.message : ""),
      img: post.picture,
      fbId: post.id,
      fbFrom: post.from
    };
  }

  function checkGroup(fbGroupId, cb) {
    FB.api("/" + fbGroupId + "/feed", function(response) {
      console.log("fb group feed", fbGroupId, response);
      var posts = [];
      if (response && response.data) {
        console.log("found", response.data.length, "posts");
        for(var i in response.data) {
          var post = translateFacebookPost(response.data[i]);
          if (post.eId) {
            posts.push(post);
          }
        }
      }
      cb(posts);
    });
  }

  function selectGroup(fbGroupId) {
    return function() {
      $ul.find("li").removeClass("selected");
      $(this).parent().addClass("selected")
      $fbGroupId.val(fbGroupId);
    }
  }

  function addGroupWithTracks(fbGroup) {
    checkGroup(fbGroup.id, function(posts){
      console.log("=>", (posts || []).length, "tracks");
      if (posts && posts.length) {

        var $head = $('<div class="head"><div class="radio"></div></div>').click(selectGroup(fbGroup.id));
        var $li = $('<li>').appendTo($ul);
        $li.append($head.append($('<p>').text(fbGroup.name)));

        var $body = $('<div class="body">'
          + '<div class="triangle"></div>'
          + '<p>We have found ' + posts.length + ' tracks</p>'
          + '</div>')
          .append('<button>convert</button>')
          //.append('<input type="submit" name="submitId" value="'+fbGroup.id+'">')
          .appendTo($li)

        if (posts.length > 2)
          posts = posts.slice(0,2);

        for (var i in posts)
          $('<div class="track">').appendTo($body)
            .append($('<div>').css("background-image", 'url("'+posts[i].img+'")'))
            .append($('<p>').text(posts[i].name));
      }
    });
  }

  function updateUi(json) {
    $("#fbConnect").removeClass("loading").unbind().click(fbConnect);
    if (json && json.data && json.data.length) {
      $("#needFbConnect").hide();
      $("h1").text("Choose your music group");
      $ul.parent().show();
      for (var i in json.data)
        addGroupWithTracks(json.data[i]);
    }
    else {
      $('#noGroups').show();
      json.error ? showMessage(json.error, true) : console.log("error", json);
    }
  }

  function fbConnect() {
    $("#fbConnect").addClass("loading").unbind().click(function(e){
      e.preventDefault();
      showMessage("Still loading, please wait...");
    });
    fbAuth("publish_pages,manage_pages,public_profile,email,user_friends", function(fbId, res) {
      if (!fbId)
        updateUi({error:"Unable to extract groups from Facebook"});
      else {
        $("input[name=fbAccessToken]").val(res.authResponse.accessToken);
        FB.api("/me/groups", updateUi);
      }
    });
  }

//]]>
</script>
