<style>

body {
  background: #efefef;
  font: 12px/16px "Helvetica Neue",Arial,Sans-serif;
}

#header > div{
  width: 968px;
}

#contentPane {
  width: 968px;
}

.fbConvertProcess h1 {
  font-size: 28px;
  margin: 50px auto;
  padding-top: 75px;
  color: #333;
  letter-spacing: 1px;
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
  font-weight: lighter;
  text-align: center;
  font-weight: bold;
}

.fbConvertProcess .body {
  width: 640px;
  background-color: #FFF;
  margin: 0 auto;
  padding: 30px;
  margin-bottom: 18px;
  padding-bottom: 20px;
  border: 1px solid #E3E3E3;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

.fbConvertProcess .body h2 {
  width: 100%;
  font-size: 20px;
  padding-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255,255,255,1);
  color: #333;
  font-weight: normal;
  border-bottom: 1px solid #ccc;
}

.fbConvertProcess .body p {
  font-size: 12px;
  color: #636363;
}


</style>

<div class="fbConvertProcess">
	<h1>Importing tracks...</h1>

	<div class="body">
		<h2>Ask other members to join the Playlist</h2>
		<p>We successfully created a collaborative playlist for your Facebook Group and are now importing your tracks in it: {{#playlist}}<a href="/playlist/{{_id}}">{{name}}</a>{{/playlist}}</p>
		<p>In the mean time, you should post an invite in that group so that the other members can join the playlist on whyd</p>
		<a href="javascript:postToFeed()">test</a>

		<div class="convertProcess">
			<p>Importing Facebook tracks to Playlist...</p>
			<p>We'll notify you when it's done!</p>
		</div>

	</div>
</div>

<script>

function postToFeed() {
	console.log("posting");
	FB.api("142341199204198/feed", "post", {link:"http://google.com", message:"coucou test"}, function(res){
		console.log("res", res)
		if (res && res.id)
			$(".fbConvertProcess").append('<a href="http://www.facebook.com/'+res.id+'/">voila</a>');

	});
}

</script>
