<style type="text/css">
/*<![CDATA[*/
body {
  background: #efefef;
  font: 12px/16px "Helvetica Neue",Arial,Sans-serif;
}

#header > div{
  width: 968px;
}


.tabContent {
  background-color: white;
}

.header {
  margin-top: 30px;
  height: 242px;
  font-family: 'Varela', "Helvetica Neue", Arial, Sans-serif;
  text-align: center;
  background-color: #464748;
  background: url(/images/background-header-invite.jpg);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
}

.header > h1 {
  font-size: 34px;
  margin: 50px auto;
  padding-top: 75px;
  color: #FFF;
  letter-spacing: 1px;
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
  font-weight: lighter;
}

.header > .legend {
  font-size: 18px;
  color: #e5e5e5;
  text-shadow: 0 1px 0 rgba(0,0,0,0.1);
}

ul.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.menu li {
  display: block;
  float: left;
  width:50%;
  text-align: center;
  background: #54565a; /* Old browsers */
  background: -moz-linear-gradient(top, #54565a 0%, #4a4c50 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#54565a), color-stop(100%,#4a4c50)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #54565a 0%,#4a4c50 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #54565a 0%,#4a4c50 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #54565a 0%,#4a4c50 100%); /* IE10+ */
  background: linear-gradient(to bottom, #54565a 0%,#4a4c50 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54565a', endColorstr='#4a4c50',GradientType=0 ); /* IE6-9 */
  padding: 24px 0;
  border-top: #3B3B3B 1px solid;
  border-bottom: #363636 1px solid;
  cursor: pointer;
}

.menu li:active {
  padding: 24px 0 21px 0;
  background-color: #4B4D50;
  border-bottom: 4px solid #37A4D3;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.44);
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.44);
  -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.44);
}

.menu li.selected {
  padding: 24px 0 21px 0;
  background-color: #4B4D50;
  border-bottom: 4px solid #37A4D3;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.44);
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.44);
  -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.44);
}

.menu li:first-child {
/*  border-right: 2px solid #363636;
*/}

.menu li span {
  color: #B8B9BB;
  font-size: 22px;
  font-family: "Varela", Arial, Sans-serif;
  letter-spacing: 1px;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
  text-decoration: none;
  height: 26px;
  padding-left: 55px;
  background-repeat: no-repeat;
}

.menu li.inviteFacebook span {
  background-image: url("/images/icon-invite-facebook.png");
}

.menu li.inviteEmail span {
  background-image: url("/images/icon-invite-email.png");
}

.menu li:hover span {
  color: #FFF;
  background-position: 0 -27px;
}

.menu li:active span {
  color: #FFF;
  text-shadow: 0 1px 0 rgba(0,0,0,0.4);
  background-position: 0 -27px;
}

.menu li.selected span {
  color: #FFF;
  text-shadow: 0 1px 0 rgba(0,0,0,0.4);
  background-position: 0 -27px;
}
/*
.menu li .border {
  border-bottom: 4px solid #37A4D3;
}
*/

/* CONTENT */

.tabContent {
  padding: 15px;
  padding-top: 30px;
  clear: both;
  color: #5e5e5e;
  overflow: auto;
}

.tabContent h2 {
  font-size: 20px;
  color: #444;
  margin-bottom: 20px;
}

.tabContent form {
	padding: 0 0 70px;
}

.tabContent .fldEmail > input {
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.3),;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	width: 430px;
	padding: 12px 10px;
	font-size: 13px;
	color: #575757;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3;
	border: 1px solid #9da3a7;
	margin-bottom: 14px;
}

.tabContent .fldEmail > input:focus {
  outline: none;
  border: 1px solid #2577bc;
  box-shadow: 0 0 5px rgba(37,119,188,1);
  -webkit-box-shadow: 0 0 5px rgba(37,119,188,1);
  -moz-box-shadow: 0 0 5px rgba(37,119,188,1);
}

.tabContent .fldEmail.error > input {
  outline: none;
  border: 1px solid #bc2525;
  box-shadow: 0 0 5px rgba(251,101,101,1);
  -webkit-box-shadow: 0 0 5px rgba(251,101,101,1);
  -moz-box-shadow: 0 0 5px rgba(251,101,101,1);
}

.tabContent .fldEmail.valid > input  {
  background: #f6ffe4;
  outline: none;
  border: 1px solid #7da729;
  box-shadow: 0 0 5px rgba(169,208,90,1);
  -webkit-box-shadow: 0 0 5px rgba(169,208,90,1);
  -moz-box-shadow: 0 0 5px rgba(169,208,90,1);
}

.tabContent .fldEmail > div {
  display: none;
  margin-left: 15px;
}

.tabContent .fldEmail.sent > div  {
  display: inline;
  color: #7da729;
}

.tabContent .fldEmail.error > div  {
  display: inline;
  color: #bc2525;
}

.tabContent textarea {
	height: 80px;
	border: 1px solid #9DA3A7;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
	padding: 6px 10px;
	font-size: 13px;
	color: #575757;
	width: 430px;
  min-width: 430px;
  max-width: 430px;
	padding: 12px 10px;
	font-size: 13px;
	color: #575757;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2;
	border: 1px solid #9da3a7;
	margin-bottom: 14px;
}

.tabContent div.loading {
  width: 30px;
  height: 30px;
}

.tabContent .blueBox {
  float: right;
  padding: 10px;
  background-color: #E2F4FF;
  width: 360px;
}

.tabContent .preview .head {
  font-weight: bold;
}

.tabContent .preview p {
  margin: 15px 0;
}

#needFbConnect {
  width: 640px;
  background: #F2F2F2;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #E3E3E3;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

#needFbConnect .image {
  background: url(/images/header-invite.png) no-repeat top center;
  width: 212px;
  height: 66px;
  margin: 20px auto;
}

#needFbConnect p {
  width: 100%;
  text-align: center;
  font-size: 18px;
  margin: 40px 0;
  text-shadow: 0 1px 0 rgba(255,255,255,1);
  color: #636363;
}

#needFbConnect p.notice {
  font-size: 12px;
}

#needFbConnect a#fbConnect {
  display:block;
  border:none;
  background: url(/images/fb-connect.png);
  width: 352px;
  height: 53px;
  margin: 20px auto;
}

#needFbConnect a#fbConnect:hover {
  background-position: 0 -54px;
}

#needFbConnect a#fbConnect:active {
  background-position: 0 -108px;
}

#needFbConnect a#fbConnect.loading {
  background-position: 50% 50%;
}

#fbFriends {
  padding: 30px;
}

#fbFriends ul {
  list-style: none;
  padding: 0;
}

#fbFriends ul li {
  margin: 0;
  width: 360px;
}

#fbFriends .q {
  border-radius: 20px;
  border: 1px solid #AAA;
  padding: 10px 20px;
  width: 320px;
  font-size: 14px;
  background: url(/images/icon-search-general.png) no-repeat 330px center;
}

#fbFriends .q:focus {
  outline: none;
  border: 1px solid #2577bc;
  box-shadow: 0 0 5px rgba(37,119,188,1);
  -webkit-box-shadow: 0 0 5px rgba(37,119,188,1);
  -moz-box-shadow: 0 0 5px rgba(37,119,188,1);
}

.alreadyOnWhyd ul li small { /* bio */
  width: 190px;
}

#inviteForm{
  width: 460px;
}

/*]]>*/
</style>

<div class="container">
  <!-- HEADER -->

  <div class="header">
    <h1>Music is better shared</h1>
    <p class="legend">So get your friends on Openwhyd!</p>
  </div>
  <ul class="menu">
    <li class="inviteFacebook selected"><span>With Facebook</span></li>
    <li class="inviteEmail"><span>With Email</span></li>
  </ul>

  <!-- FACEBOOK TAB -->

  <div class="tabContent inviteFacebook">

    <div class="fbStep" id="needFbConnect">
      <div class="image"></div>
      <p>Click below to find and invite your Facebook friends on Openwhyd.</p>
      <a id="fbConnect" href="javascript:fbConnect();"></a>
      <p class="notice">We will only send messages to friends you explicitely selected.</p>
    </div>

    <div class="fbStep" id="noFriends" style="display:none;">
      <p>Sorry, we could not gather your friends from Facebook...</p>
      <p>Please try again later!</p>
    </div>

    <div class="fbStep" id="fbFriends" style="display:none;">
      <div class="blueBox alreadyOnWhyd">
        <h2>Friends already on Openwhyd</h2>
        <ul></ul>
      </div>
      <h2>Invite your friends</h2>
      <div class="filter">
        <input name="q" class="q" type="text" value="" placeholder="Search people" autocomplete="off">
      </div>
      <ul class="notOnWhyd"></ul>
    </div>

  </div>

  <!-- EMAIL TAB -->

  <div class="tabContent inviteEmail">
    <div class="blueBox preview">
      <h2>Preview of email</h2>
      <p class="head">
        From: {{#loggedUser}}{{name}}{{/loggedUser}}<br/>
        Subject: {{emailSubject}}
      </p>
      <div class="body">
        {{{emailTemplate}}}
      </div>
    </div>
    <h2>Invite your friends to Openwhyd</h2>
    <form method="POST" id="inviteForm">
      {{#fields}}
      <div class="fldEmail">
    	  <input type="text" name="email" placeholder="Email address {{n}}" />
        <div></div>
      </div>
      {{/fields}}
    	<textarea name="message" placeholder="Add a personal note (optional)"></textarea>
    	<input type="submit" id="btnSubmitInvites" class="greenButton" value="Send invites" />
    	<!-- <button id="SendInvites" id="btnSubmitInvites" type="button">Send Invites</button>-->
      <p class="loading" style="display:none;"></p>
    </form>
  </div>
</div>
<!-- CODE -->

<script>
//<![CDATA[

  var $tabs = $("ul.menu li").click(function () {
    $tabs.removeClass("selected");
    var tabClass = $(this).attr("class");
    $('.tabContent').hide();
    $('.tabContent.'+tabClass).show();
    $(this).addClass("selected");
  });

  $("li.inviteFacebook").click();

  // "WITH FACEBOOK" TAB

  var friendSet = {};

  function getFriends(fbId, fbAccessToken, cb) {
    var data = {ajax: "fbfriends"};
    if (fbId) data.fbUserId = fbId;//res.authResponse.userID
    if (fbAccessToken) data.fbAccessToken = fbAccessToken;
    $.ajax({
      type: "POST",
      url: "/api/fbfriends",
      data: data,
      complete: function(res, status) {
        try {
          if (status != "success" || !res.responseText) throw 0;
          var json = JSON.parse(""+res.responseText) || {};
          console.log("success", json);
          cb && cb(json);
        }
        catch(e) {
          cb && cb({error:e || "An error occured. Please try again."});
          console.log(e, e.stack);
        }
      }
    });
  }

  function sendFbInvite(fbId, inviteCode, cb) {
    fbSendMessage({
      to: fbId,
    //  name: 'People Argue Just to Win',
      link: '/invite/' + inviteCode
    }, cb);
  }

  function requestInviteCode(fbId, name, cb) {
    $.ajax({
      type: "POST",
      url: "/invite",
      data: {fbId: fbId},
      success: function(res) {
        console.log("invite code", typeof res, res);
        cb((res || {}).inviteCode);
      },
      error: function(e) {
        cb();
      }
    });
  }

  function deleteInviteCode(inviteCode) {
    $.ajax({
      type: "DELETE",
      url: "/invite/" + inviteCode,
      success: function(res) {
        console.log("deleted invite code", res);
      },
      error: function(e) {
        console.log("error while trying to deleted invite code", e);
      }
    });
  }

  function onInviteClick() {
    var $btn = $(this);
    var fbId = $btn.attr("data-fbid");
    var name = $btn.find("a").text();
    if (!$btn.hasClass("invited"))
      requestInviteCode(fbId, name, function(inviteCode) {
        if (inviteCode)
          sendFbInvite(fbId, inviteCode, function(sent) {
            if (sent) {
              $btn.addClass("invited");
              $btn.text("Invited");
            }
            else
              //showMessage("Failed to send the invite to Facebook... Please try again later!");
              deleteInviteCode(inviteCode);
          });
        else
          showMessage("Failed to generate an invite code... Please try again later!");
      });
  }

  function createInviteButton(user, $li){
    friendSet[user.name.toLowerCase()] = $li[0];
    var $btn = $(document.createElement('span'));
    $btn.addClass("userSubscribe");
    $btn.attr("data-fbid", user.fbId);
    $btn.toggleClass("invited", !!user.invited);
    $btn.text(user.invited ? 'Invited' : 'Invite');
    $btn.click(onInviteClick);
    $btn.appendTo($li);
  }

  function updateUi(json) {
    $("#fbConnect").removeClass("loading").unbind()/*.click(fbConnect)*/;
    $(".loading").removeClass("loading");
    if (json && !json.error && json.whydFriends && json.notOnWhyd) {
      $("#needFbConnect").hide();
      if (!json.whydFriends.length && !json.notOnWhyd.length)
        $('#noFriends').show();
      else {
        $("#fbFriends").show();
        if (json.notOnWhyd.length)
          $("ul.notOnWhyd").append(_renderUserList(json.notOnWhyd, createInviteButton));
        else
          $("ul.notOnWhyd").text("Apparently you have no friends ... or they are all on Openwhyd!");
        if (json.whydFriends.length)
          $(".alreadyOnWhyd ul").append(_renderUserList(json.whydFriends));
        else
          $(".alreadyOnWhyd").hide();
      }
    }
    else {
      json.error ? showMessage(json.error) : console.log("error", json);
    }
  }

  function fbConnect() {
    $("#fbConnect").addClass("loading").unbind().click(function(e){
      e.preventDefault();
      showMessage("Still loading, please wait...");
    });
    fbAuth("", function(fbId, res) {
      if (!fbId)
        updateUi({error:"no fb login"});
      else
        getFriends(fbId, res.authResponse.accessToken, updateUi);
    });
  }

  var filterTimeout = null, lastFilter = null;
  var $filter = $(".inviteFacebook .filter .q").bind("keyup input onpaste", function() {
    if (filterTimeout) {
      clearTimeout(filterTimeout);
      filterTimeout = null;
    }
    setTimeout(function () {
      filterTimeout = null;
      var filter = $filter.val().toLowerCase();
      if (lastFilter == filter) return;
      lastFilter = filter;
      for (var i in friendSet)
        friendSet[i].style.display = i.indexOf(filter) == -1 ? "none" : "block";
    }, 200);
  });

  // "WITH EMAIL" TAB

  var email = $(".fldEmail")//.placeholder();
  var submit = $("#btnSubmitInvites");
  var loadingDiv = $("#inviteForm p.loading");
  var $personalMessage = $(".preview .body span");
  var $textarea = $("#inviteForm textarea");
  var timeout = null;
  var emailCheck = /^[\w\.\+\-]+@[a-z0-9\.\-]+\.[a-z]{2,4}$/i;

  function updateEmailPreview() {
    timeout = null;
    $personalMessage.text($textarea.val());
  }

  $("#inviteForm textarea").bind("keyup input onpaste", function() {
    if (timeout) {
      clearTimeout(timeout);
      timeout = null;
    }
    setTimeout(updateEmailPreview, 200);
  });

  function backtonormal() {
    $(this).parent().removeClass("error").removeClass("valid");
  };

  function validateEmail() {
    var val = $(this).val();
    if (val == "")
      return 0;
    var valid = emailCheck.test(val);
    $(this).parent().addClass(valid ? "valid" : "error");
    $(this).parent().find("div").html(valid ? "" : "Invalid");
    return valid ? 1 : -10;
  }

  email.find("input").click(backtonormal).keydown(backtonormal).blur(validateEmail);

  $("#inviteForm").submit( function(event) {
    event.preventDefault();
    submit.hide();
    loadingDiv.show();
    $.ajax({
      type: "POST",
      url: "/invite",
      data: $("#inviteForm").serialize(),
      success: function(res) {
        var res = res || {};
        $(".valid").addClass("sent").find("div").html("Invite sent");
        loadingDiv.removeClass("loading").html("Thank you!");
      },
      error: function() {
        $("div.loading").remove();
        submit.show();
      }
    });
  });


//]]>
</script>
