<style type="text/css">
/*<![CDATA[*/
body {
	background: #efefef;
	font: 12px/16px "Helvetica Neue",Arial,Sans-serif;
}


.container {
	background-color: #FFF;
	margin-bottom: 18px;
	padding-bottom: 20px;
	
}

.header {
	margin-top: 30px;
	height: 342px;
	font-family: Varela, "Helvetica Neue", Arial, Sans-serif;
	text-align: center;
	background-color: #464748;
	background: url(/images/pickBookmarklet/background.jpg) no-repeat;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
}

.header > h1 {
	font-size: 34px;
	margin: 0 auto;
	padding: 75px 0;
	color: #FFF;
	letter-spacing: 1px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
	font-weight: lighter;
}

.header > a {
	cursor: move;
	font-size: 26px;
	color: #FFF;
	display: block;
	background-color: #9FCE67;
	width: 200px;
	height: 74px;
	padding-left: 12px;
	padding-right: 60px;
	margin: 0 auto;
	line-height: 76px;
	border: 1px solid #384B11;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	background: #3177AF;
	background-color: linear-gradient(bottom, #9BC840 24%, #3177AF 81%);
	background-color: -o-linear-gradient(bottom, #9BC840 24%, #3177AF 81%);
	background-color: -moz-linear-gradient(bottom, #9BC840 24%, #3177AF 81%);
	background-color: -webkit-linear-gradient(bottom, #9BC840 24%, #3177AF 81%);
	background-color: -ms-linear-gradient(bottom, #9BC840 24%, #3177AF 81%);
	background-color: -webkit-gradient(linear,left bottom,left top,color-stop(0.24, #9BC840),color-stop(0.81, #3177AF));
	box-shadow: inset 0 -1px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 -1px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 -1px 2px rgba(0,0,0,0.2);
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
	position: relative; 
	-webkit-background-clip: padding-box; 
	-moz-background-clip: padding-box; 
	-background-clip: padding-box; 
} 

.header > a:hover {
	color: #FFF;
	border: 1px solid #384B11;
	box-shadow: 0px 0px 10px #222222;
	-webkit-box-shadow: 0px 0px 10px #222222;
	-moz-box-shadow: 0px 0px 10px #222222;
}

.header > a > span {
	background-image: url(/images/pickBookmarklet/puce-drag.png);
	display: block;
	width: 34px;
	height: 34px;
	position: absolute;
	top: 22px;
	right: 22px;
}

.header > .legend {
	padding: 0;
	font-size: 12px;
	color: #e5e5e5;
	text-shadow: 0 1px 0 rgba(0,0,0,0.1);
	margin-top: 14px;
}

ul.menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu li {
	display: block;
	float: left;
	text-align: center;
	background: #54565a; /* Old browsers */
	background: -moz-linear-gradient(top, #54565a 0%, #4a4c50 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#54565a), color-stop(100%,#4a4c50)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #54565a 0%,#4a4c50 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #54565a 0%,#4a4c50 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #54565a 0%,#4a4c50 100%); /* IE10+ */
	background: linear-gradient(to bottom, #54565a 0%,#4a4c50 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54565a', endColorstr='#4a4c50',GradientType=0 ); /* IE6-9 */
}

.menu li:first-child {
	border-right: 2px solid #363636;
} 

.menu li a {
	width: 489px;
	padding: 24px 0;
	font-size: 24px;
	font-family: Varela, Arial, Sans-serif;
	letter-spacing: 1px;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
	display: block;
	text-decoration: none;
	color: #B8B9BB;
	border-top: #3B3B3B 1px solid;
	border-bottom: #363636 1px solid;
}

.menu li a:hover {
	color: #FFF;
}

.menu li a:active {
	padding: 0;
	background: #4B4D50;
	color: #FFF;
	padding: 24px 0 21px 0;
	border-bottom: 4px solid #37A4D3;
	text-shadow: 0 1px 0 rgba(0,0,0,0.4);
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.44);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.44);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.44);
}

.menu li a.selected {
	padding: 0;
	background: #4B4D50;
	color: #FFF;
	padding: 24px 0 21px 0;
	border-bottom: 4px solid #37A4D3;
	text-shadow: 0 1px 0 rgba(0,0,0,0.4);
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.44);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.44);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.44);
}

.menu li .border {
	border-bottom: 4px solid #37A4D3;
}

/* CONTENT */

.explication {
	clear: both;
	position: relative;
}

.explication, .howtoinstall {
	clear: both;
	padding: 15px;
}

.explication ul, .howtoinstall ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.explication li {
	float: left;
	margin: 0 20px 0 0;
}

.explication li.last {
	margin-right: 0;
}

.explication h3, .howtoinstall h3 {
	font-size: 18px;
	line-height: 32px;
	margin: 0;
	font-family: Varela, "Helvetica-Neue", Arial, Sans-serif;
	font-weight: lighter;
	margin-bottom: 6px;
}

.explication p {
	color: #7a7979;
	margin: 0;
}

.first, .second, .third {
	padding: 56px 0;
}


/* FIRST */
.first {
	position: relative;
	height: 180px;
	background: url(/images/pickBookmarklet/separation.png) no-repeat bottom center;
}

.first p {
	display: inline-block;
	width: 620px;
	float: left;
	line-height: 20px;
}

.first p a {
	font-weight: bold;
}

.first .video {
	position: absolute;
	height: 192px;
	width: 298px;
	top: 32px;
	right: 0;
	box-shadow: 0 0 3px rgba(0,0,0,0.43);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.43);
	-moz-box-shadow: 0 0 3px rgba(0,0,0,0.43);
	background: url(/images/pickBookmarklet/video-thumb.jpg) no-repeat center center;
	background-size: cover;
}

.first > .video > a {
	display: block;
	width: 298px;
	height: 192px;
	background: url(/images/pickBookmarklet/video-play.png) no-repeat center center;
	opacity: 0.6;
} 

.first > .video > a:hover {
	opacity: 0.9;
}

/* SECOND */
.second {
	clear: both;
	margin-top: 10px;
	height: 140px;
	background: url(/images/pickBookmarklet/separation.png) no-repeat bottom center;
}

.second li {
	float: left;
	margin: 0 20px 0 0;
	color: #7a7979;
	line-height: 78px;
}

/* LOGO MARQUE */
.second li a {
	display: block;
	width: 140px;
	height: 72px;
	opacity: 0.6;
	text-indent: -9999px;
	background-repeat: no-repeat;
}

.second li a:hover {
	opacity: 1;
	transition-delay: 0.1s;
	transition-duration: 0.3s;
	-webkit-transition-delay: 0.1s;
	-webkit-transition-duration: 0.3s;
	-moz-transition-delay: 0.1s;
	-moz-transition-duration: 0.3s;
	background-position: 0 -73px;
}

.second li .soundcloud {
	background-image: url(/images/pickBookmarklet/logo-soundcloud.png);
}

.second li .youtube {
	background-image: url(/images/pickBookmarklet/logo-youtube.png);
}

.second li .vimeo {
	background-image: url(/images/pickBookmarklet/logo-vimeo.png);
}

.second li .mp3 {
	background-image: url(/images/pickBookmarklet/logo-mp3.png);
}

.second .last {
	margin: 0;
}


/* THIRD */
.third {
	clear: both;
	overflow: hidden;
	margin-top: 10px;
}

.third li {
	width: 60px;
	height: 60px;
}

.third li img {
	width: 60px;
	height: 60px;
	background: #CCC;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

/* HOW TO INSTALL */

.howtoinstall {
	display: none;
	padding: 34px 14px;
}

.howtoinstall h3 {
	position: relative;
}

/* ICON NAVIGATEUR */
.howtoinstall h3 > span.msie8, .howtoinstall h3 > span.msie {
	position: absolute;
	background: url(/images/pickBookmarklet/icon-navigateur.png)no-repeat;
	height: 36px;
	width: 36px;
	display: inline-block;
	margin-left: 12px;
	top: -3px;
}

.howtoinstall h3 > span.chrome {
	position: absolute;
	background: url(/images/pickBookmarklet/icon-navigateur.png)no-repeat 0px -74px;
	height: 36px;
	width: 36px;
	display: inline-block;
	margin-left: 12px;
	top: -3px;
}

.howtoinstall h3 > span.safari {
	position: absolute;
	background: url(/images/pickBookmarklet/icon-navigateur.png)no-repeat 0px -37px;
	height: 36px;
	width: 36px;
	display: inline-block;
	margin-left: 12px;
	top: -3px;
}

.howtoinstall h3 > span.firefox{
	position: absolute;
	background: url(/images/pickBookmarklet/icon-navigateur.png)no-repeat 0px -112px;
	height: 36px;
	width: 36px;
	display: inline-block;
	margin-left: 12px;
	top: -3px;
}

.howtoinstall ul {
	padding: 0 0 28px 0;
}

.howtoinstall li {
	margin: 0 0 10px 0;
	line-height: 36px;
	color: #7a7979;
}

.howtoinstall li > .puce1 {
	background: url(/images/pickBookmarklet/icon-puce.png)no-repeat;
	display: inline-block;
	width: 34px;
	height: 34px;
	float: left;
	margin-right: 12px;
}

.howtoinstall li > .puce2 {
	background: url(/images/pickBookmarklet/icon-puce.png)no-repeat 0 -35px;
	display: block;
	width: 34px;
	height: 34px;
	float: left;
	margin-right: 12px;
}

.howtoinstall li > .puce3 {
	background: url(/images/pickBookmarklet/icon-puce.png)no-repeat 0 -70px;
	display: block;
	width: 34px;
	height: 34px;
	float: left;
	margin-right: 12px;
}

.howtoinstall li > .puce4 {
	background: url(/images/pickBookmarklet/icon-puce.png)no-repeat;
	display: block;
	width: 34px;
	height: 34px;
	float: left;
	margin-right: 12px;
}

.howtoinstall .video {
	display: block;
	width: 468px;
	height: 263px;
	background: #CCC url(/images/pickBookmarklet/video-thumb.jpg) no-repeat;
	margin: 0 auto;
	clear: both;
	box-shadow: 0 0 3px rgba(0,0,0,0.43);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.43);
	-moz-box-shadow: 0 0 3px rgba(0,0,0,0.43);
}

.howtoinstall > .video > a {
	display: block;
	width: 468px;
	height: 263px;
	background: url(/images/pickBookmarklet/video-play-big.png) no-repeat center center;
	opacity: 0.6;
} 

.howtoinstall > .video > a:hover {
	opacity: 0.9;
}

.avatar > li {
	float: left;
}

.avatar > li > a {
	display: block;
	width: 60px;
	height: 60px;
	background-size: cover;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}

/*]]>*/
</style>
<div class="container">
	<div class="header">
		<h1>Add a track from anywhere with two clicks</h1>
		<a id="bookmarklet" class="button"
		   onclick="setTimeout(function(){alert('Please drag & drop this button to your browser\'s bookmarks bar')},50); return false;"
		   title="Drop this button to the bookmarks bar of your web browser"
		   href="javascript:(function(){document.body.appendChild(document.createElement('script')).src='https://openwhyd.org/js/bookmarklet.js?'+(new Date()).getTime();;})();">
			OpenWhyd ✚ Track<span class="icon"></span>
		</a>
		<p class="legend">Simply drag the green button to your bookmark bar above.</p>
	</div>
	<ul class="menu">
		<li><a href="javascript:showTab('.explication');" class="tab explication selected">What is it?</a></li>
		<li><a href="javascript:showTab('.howtoinstall');" class="tab howtoinstall">How does it work?</a></li>
	</ul>

	<div class="tabContent explication">
		<div class="first">
			<h3>The fastest way to add and share</h3>
			<p>To instantly add tracks to your Whyd stream that you find across the web, from any website, we built the Whyd "add track" button. Drag the button to your bookmarks bar to install it, and then you can save the new tracks you find and share immediately from sites like Facebook and music blogs. It's super fast and super simple. 
			<br><a href="javascript:showTab('.howtoinstall');">How to install the button ?</a></p>
			<div class="video">
				<a href="javascript:openVideo()" alt="Watch the video tutorial" title="Watch the video tutorial"></a>
			</div>
		</div>

		<div class="second">
			<h3>Works with tracks from</h3>
			<ul class="services">
				<li><a href="http://soundcloud.com" class="soundcloud">Soundcloud</a></li>
				<li><a href="http://youtube.com" class="youtube">Youtube</a></li>
				<li><a href="http://vimeo.com" class="vimeo">Vimeo</a></li>
				<li><a href="javascript:{};" class="mp3">MP3</a></li>
				<li>& many more coming...</li>
			</ul>
		</div>
		
		<div class="third">
			<h3>All the cool kids are doing it!</h3>
			<ul class="avatar">
				<li><a href="/u/4fb641ae68b1a410ecdc00e2" alt="Lazynaj"></a></li>
				<li><a href="/u/4e2e94ea981d90d694c12d24" alt="Albin"></a></li>
				<li><a href="/u/5017a1f97e91c862b2a7c451" alt="Émilie Butel"></a></li>
				<li><a href="/u/500836f17e91c862b2a7c396" alt="Jean-Sebastien Nicolet"></a></li>
				<li><a href="/u/4fe0f8b57e91c862b2a7c274" alt="Masscut"></a></li>
				<li><a href="/u/4ffd7ca07e91c862b2a7c2ff" alt="Alice"></a></li>
				<li><a href="/u/4fede55a7e91c862b2a7c29f" alt="Le coup du lapin"></a></li>
				<li><a href="/u/500d769e7e91c862b2a7c3b6" alt="cannet"></a></li>
				<li><a href="/u/501a8d6c7e91c862b2a7c482" alt="Matthieu Gazier"></a></li>
				<li><a href="/u/500ebe547e91c862b2a7c3cd" alt="Paul Lucas"></a></li>
				<li><a href="/u/501ff0057e91c862b2a7c4c8" alt="Laurène Sturm"></a></li>
				<li class="last"><a href="/u/4fd8731d7e91c862b2a7c26a" alt="Gauthier Nadaud"></a></li>
			</ul>
		</div>
	</div>

	<div class="tabContent howtoinstall">
		<h3>Instructions:<span class="browserIcon"></span></h3>
		<ul>
			<!-- CONDITIONAL PART: depends on the user's web browser -->
			<li class="instr chrome" style="hidden">
				<span class="puce1"></span> In Chrome, display your bookmarks bar by clicking
				<strong>View &gt; Always Show Bookmarks Bar</strong></li>

			<li class="instr firefox" style="hidden">
				<span class="puce1"></span> In Firefox, display your bookmarks bar by clicking
				<strong>View &gt; Toolbars &gt; Bookmarks Toolbar</strong></li>

			<li class="instr safari" style="hidden">
				<span class="puce1"></span> In Safari, display your bookmarks bar by clicking
				<strong>View &gt; Show Bookmarks Bar</strong></li>

			<li class="instr msie8" style="hidden">
				<span class="puce1"></span> In Internet Explorer 8, display your bookmarks bar by clicking
				<strong>Tools &gt; Toolbars &gt; Favorites Bar</strong></li>

			<li class="instr msie" style="hidden">
				<span class="puce1"></span> In Internet Explorer, display your bookmarks bar by right-clicking the top grey area of the browser, then click on <strong>Favorites Bar</strong></li>

			<!-- END OF CONDITIONAL PART -->

			<li><span class="puce2"></span>Drag this button, and drop it in your bookmarks bar</li>
			<li><span class="puce3"></span>While browsing the web, click on "Whyd + Track" whenever you see some music you want to add to your library	</li>

			<li class="instr chrome" style="hidden">
				Or, install our brand new <a href="https://chrome.google.com/webstore/detail/whyd-%E2%9C%9A-track/foohaghobcolamikniehcnnijdjehfjk" target="_blank">Whyd Button extension</a> for Chrome.</li>

		</ul>

		<div class="video">
			<a href="javascript:openVideo()" alt="Watch the video tutorial" title="Watch the video tutorial"></a>
		</div>

		<div id="videoModal" style="display:none;">
			<div class="video"><iframe src="//player.vimeo.com/video/59426075" width="560" height="315" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
		</div>

	</div>
</div>
<script>
/*<![CDATA[*/
	// adapt instructions to web browser in use
	$("li.instr").hide();
	var b = ["Opera", "MSIE 8.", "MSIE", "Chrome", "Safari", "Firefox"];
	for (var i in b)
		if (navigator.userAgent.indexOf(b[i]) != -1) {
			$(".instr." + b[i].toLowerCase().replace(/[^a-z0-9]+/g, "")).show();
			$(".browserIcon").attr("class", "browserIcon " + b[i].toLowerCase());
			break;
		}

	// load images for users
	$(".avatar a").each(function() {
		var uid = $(this).attr("href").split("/").pop();
		$(this).css("background-image", "url(/img/u/" + uid+ ")");
	});

	function showTab(selector) {
		$('.tab').removeClass("selected");
		$('.tab'+selector).addClass("selected");
		$('.tabContent').hide();
		$('.tabContent'+selector).show();
	}

	function openVideo() {
		var html = document.getElementById('videoModal').innerHTML;
		$content = $(html);
		$vid = $content.find('iframe');
		var link = $vid.attr('src');
		$vid.attr('src', link+"?autoplay=1");
		openHtmlDialog($content);
	}
/*]]>*/
</script>

