* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  background: black url(/images/background.png);
  font: 14px normal Helvetica, Arial, sans-serif;
  color: white;
}

body > div {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100%;
  height: 1px;
  overflow: visible;
  display: block;
}

body > div > div {
  margin-left: -400px;
  position: absolute;
  top: -250px;
  left: 50%;
  width: 800px;
  height: 500px;
  text-align: center;
}

p {
  margin: 40px 0;
  font-size: 20px;
  text-shadow: black 0px -1px 1px;
}

a {
  display: block;
  margin: 60px 0;
  font-size: 12px;
  color: white;
  text-shadow: black 0px -1px 1px;
}

#login {
  display: inline;
  font-size: 16px;
  text-decoration: underline;
}

body > div > div > div {
  position: relative;
  background: #3c3c3c;
  height: 50px;
  border: 1px solid #292929;
  border-radius: 5px;
  margin: 0 auto;
  box-shadow: 0px 2px 0px #3d3d3d;
}

/*body > div > div > div >*/
form {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 49%;
  background: #424242;
  border-top: 1px solid #666666;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

input.box {
  border: 1px solid #292929;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  -background-clip: padding-box;
  margin: 6px 5px 0 0;
  padding: 0 8px;
  height: 34px;
  width: 140px;
  font-size: 14px;
  color: #464646;
  -webkit-box-shadow: inset 0px 1px 2px #555, 0px 1px 0px #666666;
  -moz-box-shadow: inset 0px 1px 2px #555, 0px 1px 0px #666666;
  box-shadow: inset 0px 1px 2px #555, 0px 1px 0px #666666;
}

.placeholder {
  color: #a7a7a7 !important;
}
