html {
  -webkit-text-size-adjust: 100%; /* keep text size when changing display orientation */
}

body {
  position: relative;
  white-space: nowrap;
  vertical-align: top;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: 'Helvetica Neue', Helvetica, Arial, Sans-serif;
}

body > #searchPane {
  white-space: normal;
  vertical-align: top;
  padding: 0;
  margin: 0;
  color: #555;
  width: 100%;
}

a {
  color: #555;
  text-decoration: none;
}

.page {
  display: none;
}

#pgMain {
  display: block;
}

#pleaseLogin {
  margin-top: 200px;
  text-align: center;
}

#pleaseLogin a {
  color: #3177af;
}
