/* modal post box */

/*
#postBox {
	width: 552px;
	margin: 0 10px;
	padding: 15px;
	font-size: 12px;
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
	background: #FFF;
	opacity: 0.98;
}

#postBox > h1 {
	font-size: 26px;
	color: #414141;
	text-shadow: 0 1px 0 rgba(255,255,255,1);
}

#postBox > h2 {
	color: #575757;
	font-size: 16px;
	font-weight: normal;
}
*/

/* playlist selection */

#selPlaylist {
  display: none;
  position: relative;
  margin-top: 10px;
  color: #555;
  font-size: 14px;

  height: 55px;
  z-index: 1;
  width: 438px;
}

#selPlaylist > span {
  cursor: pointer;
  position: absolute;
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #979797;
  font-weight: bold;
  background: #f3f3f3;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f5f5f5),
    to(#d1d1d1)
  );
  background: -moz-linear-gradient(top, #f5f5f5, #d1d1d1);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}

#selPlaylist > span > small {
  font-weight: normal;
}

#selPlaylist > span > span {
  position: absolute;
  top: 16px;
  right: 12px;
  background: url(/images/puce-create-playlist.png) no-repeat;
  width: 12px;
  height: 9px;
  text-indent: -9999px;
}

#selPlaylist > div.content {
  display: none;
  position: absolute;
  border: 1px solid #a5acb1;
  background: #f3f3f3;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f9f9f9),
    to(#f3f3f3)
  );
  background: -moz-linear-gradient(top, #f9f9f9, #f3f3f3);
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
  height: 171px;

  width: 458px;
  overflow: hidden;
  overflow-y: auto;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  -background-clip: padding-box;
}

#selPlaylist:hover > span {
  color: #333;
}

#selPlaylist > div ul {
  background: #fcfcfc;
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  -background-clip: padding-box;
}

#selPlaylist > div ul > li {
  border-bottom: 1px solid #d1d1d1;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  -background-clip: padding-box;
}

#selPlaylist > div ul > li:hover {
  color: #357bd1;
  background-color: #fff;
}

#selPlaylist > div ul > li.selected {
  color: #3177af;
}

#selPlaylist > div form {
  padding: 10px;
  width: 240px;
  white-space: nowrap;
}

#selPlaylist > div form > input#newPlaylistName {
  padding: 8px 3px;
  font-size: 12px;
  width: 300px;
  border: 1px solid #b7b7b7;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  -background-clip: padding-box;
}

#selPlaylist > div form > input.greenButton {
  margin-left: 39px;
  border: none;
  padding: 8px;
  border-color: #83b34b;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  -background-clip: padding-box;
}

/* description */

/*
#postBoxForm {
	display: none;
}

#postBoxForm .submit {
	background: #3177AF;
	padding: 15px 20px;
	font-weight: bold;
	font-size: 14px;
	color: #FFF;
	border: 0;
	cursor: pointer;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	margin: 10px 0 0 0;
}

#postBoxForm .submit.loading {
	color: transparent;
	background-position: 50% 50%;
}
*/

/* RE-USED BOOKMARKLET UI FOR REPOST */

.dlgRepostBox #contentThumb {
  float: left;
  margin-right: 30px;
}

.dlgRepostBox #contentThumb > div {
  width: 120px;
  height: 120px;
  overflow: hidden;
  margin-bottom: 10px;
}

.dlgRepostBox #contentThumb > div > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 120px;
  height: 120px;
  overflow: hidden;
}

.dlgRepostBox #contentThumb > div > div > img {
  width: 120px;
}

.dlgRepostBox #contentData > p#contentTitle {
  font-size: 16px;
  color: #525252;
  text-decoration: ite;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}

/* for edit mode */
#contentData > input#contentTitleInput {
  display: block;
  border: 1px solid #ccc;
  padding: 5px;
  color: #555;
  width: 300px;
  font-size: 12px;
}

.dlgRepostBox #contentData > span#contentSource {
  font-size: 14px;
  color: #777;
  font-style: italic;
}

.dlgRepostBox #selPlaylist {
  display: block;
}

.dlgRepostBox #postForm {
  clear: both;
  float: left;
  position: relative;
}

#postBoxForm .description-input,
.dlgRepostBox .shareField {
  width: 460px;
  border: 1px solid #a0a0a0;
  border-radius: 3px;
  height: 40px;
  padding: 8px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15),
    0 1px 0 rgba(255, 255, 255, 1);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15),
    0 1px 0 rgba(255, 255, 255, 1);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15),
    0 1px 0 rgba(255, 255, 255, 1);
  margin-bottom: 30px;
}

.dlgRepostBox #btnSubmit {
  background: #3177af;
  padding: 15px 20px;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  border: 0;
  cursor: pointer;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  margin: 10px 0 0 0;
}

.dlgRepostBox #lnkDeletePost {
  float: right;
  color: #f56165;
  cursor: pointer;
  font-size: 11px;
  font-weight: bold;
}

.dlgRepostBox #contentSource.youtube {
  background: url('/images/icon-youtube.png') no-repeat top right;
  padding-right: 30px;
  height: 30px;
  padding-top: 3px;
  display: inline-block;
}

.dlgRepostBox #contentSource.soundcloud {
  background: url('/images/icon-soundcloud.png') no-repeat top right;
  padding-right: 30px;
  height: 30px;
  display: inline-block;
  padding-top: 3px;
}

/* specific modification of query.mentionsInput.css for post add / edit dialogs */

.mentions-input-box > .mentions-autocomplete-list {
  bottom: 50px;
}

#confirmationScreen {
  display: none;
  text-align: center;
  padding-top: 50px;
}
