html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CLEAR:BOTH */
.clear:before,
.clear:after {
  content: '';
  display: table;
}

.clear:after {
  clear: both;
}

.clear {
  zoom: 1;
}

body {
  background: #f2f2f2;
  font:
    14px/21px 'Helvetica Neue',
    Helvetica,
    Arial,
    Sans-serif;
  color: #4a4a4a;
}

a {
  text-decoration: none;
}

h1 {
  padding-top: 128px;
  margin-bottom: 14px;
}

h3 {
  display: inline-block;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding-top: 200px;
  line-height: 30px;
  font-weight: bold;
}

/* RULES GENERAL */
.wrapp {
  margin: 0 auto;
  width: 960px;
  text-align: center;
}

.titlegrey {
  border-bottom: 2px solid #d6d6d6;
  color: #4a4a4a;
  padding-top: 60px;
}

.big-slogan {
  font:
    34px/57px 'HelveticaNeue-Medium',
    'Helvetica Neue',
    Arial,
    Sans-serif;
  margin-top: 40px;
  color: #4a4a4a;
}

.photo .wrapp,
.background-team .wrapp,
.background-opport .wrapp,
.background-problem .wrapp,
.background-marketsize .wrapp,
.background-businessmodel .wrapp {
  padding: 82px 0 146px 0;
}

.background-useracquisition .wrapp {
  padding: 82px 0 110px 0;
}

.footer .wrapp {
  padding-bottom: 200px;
}

/* NAV */
.background.top {
  background-color: #fff;
  position: fixed;
  width: 100%;
  opacity: 0.97;
  z-index: 2;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.nav {
  line-height: 38px;
  height: 40px;
  padding: 5px 0;
}

.nav li {
  float: left;
  margin-right: 15px;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Droid Sans', sans-serif;
}

.nav li:last-child {
  margin-right: 0;
}

.nav li a {
  text-decoration: none;
  color: #b4b4b4;
}

.nav li a:hover {
  color: #646464;
}

.nav li .active {
  color: #646464;
  font-weight: bold;
  padding-bottom: 4px;
  border-bottom: 2px solid #3892e3;
}

/* PRESENTATION */
.background-presentation .wrapp {
  position: relative;
  min-height: 900px;
}

.background-presentation .wrapp h2 {
  color: #8d8d8d;
  font:
    18px/26px 'HelveticaNeue-Medium',
    Helvetica,
    Arial,
    Sans-serif;
}
.background-presentation .wrapp > img {
  position: absolute;
  bottom: -40px;
  left: 0;
}

/* VISION */
.photo {
  background-image: url(background-concert.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 760px;
  width: 100%;
}

.vision {
  width: 80px;
}

.photo .wrapp p {
  color: #353535;
}

/* TEAM */
.team {
  width: 68px;
}

.background-team .wrapp ul.direction {
  text-align: center;
  margin: 0 auto;
  margin-top: 80px;
  width: 900px;
}

.background-team .wrapp ul.employee {
  width: 900px;
  margin: 0 auto;
  margin-top: 80px;
}

.background-team .wrapp ul.direction li {
  width: 300px;
  float: left;
}

.background-team .wrapp ul.employee li {
  float: left;
  width: 300px;
}

.background-team h4 {
  font:
    20px/30px 'HelveticaNeue-Medium',
    'Helvetica Neue',
    Arial,
    Sans-serif;
  color: #4a4a4a;
  padding: 0;
}

.background-team .position {
  text-transform: uppercase;
  font-family: 'Droid Sans', Sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  color: #9b9b9b;
  line-height: 21px;
  margin-bottom: 10px;
}

.background-team .bio {
  font-size: 14px;
  color: #646464;
  line-height: 20px;
  width: 250px;
  margin: 0 auto 5px auto;
  text-align: center;
}

/* OPPORTUNITY */
.background-opport {
  background-color: #2d303c;
}

.opportunity {
  border-bottom: 2px solid #62646c;
  width: 156px;
  color: #ffffff;
  padding-top: 60px;
}

.background-opport .wrapp p.big-slogan {
  background: url(etoiles.png) 50% no-repeat;
  padding: 120px 0;
  color: #ffffff;
  line-height: 57px;
}

.background-opport .wrapp ul {
  font-size: 14px;
}

.background-opport .wrapp ul li {
  float: left;
  width: 300px;
}

.background-opport .wrapp ul li.youtube {
  padding-top: 136px;
}

.background-opport .wrapp ul li.stream {
  padding-top: 90px;
  margin-right: 50px;
}

.background-opport .wrapp ul li p {
  color: #fff;
  line-height: 21px;
  padding-top: 14px;
}

.background-opport .wrapp ul li cite {
  color: #8a8e9e;
  font-style: italic;
  line-height: 30px;
}

/* PROBLEM */
.problem {
  width: 112px;
  padding-top: 60px;
}

.background-problem > .wrapp > p {
  color: #353535;
  padding: 60px 0 120px 0;
  background: url(puzzle.png) 50% no-repeat;
}

.solution {
  background-color: #1a1a1a;
  width: 760px;
  padding: 60px 60px;
  border-radius: 16px;
  margin: 0 auto;
}

.solution h3 {
  border-bottom: 2px solid #4d4d4d;
  width: 120px;
  color: #fff;
  padding-top: 0;
}

.solution p {
  color: #fff;
  background: url(etoile.png) 50% no-repeat;
  padding: 80px 0;
}

/* PRODUCT */
.background-product {
  background-color: #fff;
}

.background-product > .wrapp {
  padding: 82px 0 0 0;
  position: relative;
}

.background-product .product {
  width: 108px;
  margin-bottom: 240px;
}

.background-product p {
  font:
    18px/26px 'Droid Sans',
    'Helvetica Neue',
    Helvetica,
    Arial,
    Sans-serif;
  padding: 10px;
}

.background-product p.multiplatform {
  background: url(platform-icon.png) no-repeat top center;
  padding-top: 50px;
  position: absolute;
  top: 210px;
  left: 0;
}

.background-product p.sharing {
  background: url(share-icon.png) no-repeat top center;
  padding-top: 50px;
  position: absolute;
  top: 274px;
  left: 410px;
  color: #6acf48;
}

.background-product p.bookmark {
  background: url(bookmark-icon.png) no-repeat top center;
  padding-top: 60px;
  position: absolute;
  top: 170px;
  right: 0;
  color: #2a93dd;
}

.fleche-multi {
  background: url(fleche-multi.png) no-repeat;
  width: 64px;
  height: 401px;
  z-index: 1;
  top: 310px;
  left: 90px;
  position: absolute;
}

.fleche-share {
  background: url(fleche-share.png) no-repeat;
  width: 153px;
  height: 367px;
  position: absolute;
  top: 380px;
  left: 490px;
}

.fleche-bookmark {
  background: url(fleche-bookmark.png) no-repeat;
  width: 47px;
  height: 280px;
  position: absolute;
  top: 280px;
  right: 80px;
}

/* MARKET SIZE */
.background-marketsize {
  background-color: #e5edf3;
}

.marketsize {
  width: 140px;
  margin-bottom: 60px;
}

.background-marketsize > .wrapp > p {
  color: #4a4a4a;
}

.background-marketsize > .wrapp > p.billions {
  font:
    34px/57px 'HelveticaNeue-Medium',
    'Helvetica Neue',
    Arial,
    Sans-serif;
  background-color: #39bfe7;
  color: #fff;
  display: inline-block;
  padding: 0 16px;
  border-radius: 8px;
}

.sep {
  margin: 10px auto;
  background: url(point-sep.png) no-repeat;
  width: 10px;
  height: 56px;
}

.focus {
  background-color: #fff;
  width: 760px;
  padding: 40px 60px 80px 60px;
  border-radius: 16px;
  margin: 0 auto;
}

.referralrevenue {
  float: left;
  width: 200px;
  padding: 0px 0px 0px 0px;
  border-radius: 16px;
  margin: 0 auto;
  text-align: center;
  background: #fff;
}

.focus h4,
.referralrevenue h4 {
  font-size: 18px;
  font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, Sans-serif;
  border-bottom: 2px solid #dedede;
  width: 74px;
  letter-spacing: 1px;
  color: #4a4a4a;
  font-weight: bold;
  line-height: 30px;
  margin: 30px auto;
}

.focus p.special {
  color: #4a4a4a;
  font:
    34px/54px 'Helvetica Neue',
    Helvetica,
    Arial,
    Sans-serif;
  font-weight: bold;
}
.focus p,
.referralrevenue p {
  font-size: 22px;
  color: #7f7f7f;
  line-height: 30px;
}

.referralrevenue h4 {
  width: 180px;
}

.referralrevenue .eg {
  width: 580px;
  margin: 40px auto 0 auto;
}

.referralrevenue .eg img {
  float: left;
  margin-right: 30px;
}

.referralrevenue .eg p {
  font-size: 14px;
  line-height: 21px;
  text-align: left;
}

/* BUSINESS MODEL */
.background-businessmodel {
  background-color: #fff;
}

.businessmodel {
  width: 188px;
}

.background-businessmodel .wrapp p {
  margin: 40px 0;
}

/* USER ACQUISITION */
.background-useracquisition {
  padding-bottom: 0px;
}

.useracquisition {
  width: 200px;
}

.background-useracquisition .wrapp > p.big-slogan {
  margin: 60px 0;
}

.box {
  background-color: #fff;
  width: 460px;
  float: left;
  margin-right: 20px;
  min-height: 308px;
  margin-bottom: 20px;
  border-radius: 16px;
}

.box h5 {
  font-size: 22px;
  color: #4a4a4a;
  border-bottom: 2px solid #f2f2f2;
  text-align: left;
  padding: 20px;
  font-family:
    'HelveticaNeue-Medium', 'Helvetica Neue', Helvetica, Arial, Sans-serif;
}

.box ul {
  padding: 20px;
}
.box ul li {
  font-size: 14px;
  margin-bottom: 14px;
  text-align: left;
  line-height: 21px;
}

.members-share ul li ul {
  padding: 24px 0 0 0;
}

.university ul li ul,
.btn-social ul li ul {
  padding: 18px 0 0 0;
}

.university ul li ul li {
  margin-right: 30px;
}

.btn-social ul li ul li {
  margin-right: 30px;
}

.box ul li ul.user {
}

ul.user li {
  width: 188px;
  text-align: center;
  color: #7c7c7c;
}

ul.user li a {
  font-size: 12px;
  color: #c9c9c9;
}

.box ul li ul li {
  float: left;
}

.long-social {
  padding-top: 24px;
}

/*FOOTER */
.citation {
  width: 900px;
  margin: 80px auto;
}

.footer .wrapp .big-slogan {
  margin-top: 0;
}

.citation li {
  width: 300px;
  float: left;
  line-height: 21px;
}

.citation li.digital {
  padding-top: 29px;
}

.citation li.digital img {
  padding-bottom: 8px;
}

.citation li.forbes {
  padding-top: 19px;
}

.citation li.forbes img {
  padding-bottom: 4px;
}
.citation li img {
  margin-bottom: 10px;
}

.citation li p {
  width: 260px;
  font-size: 14px;
  margin: 0 auto 10px auto;
}

.citation cite {
  color: #4a4a4a;
  font-size: 13px;
  font-style: italic;
}

.action-btn {
  padding: 20px 0 80px 0;
}

.btn-mailto,
.btn-angel {
  font-size: 18px;
  display: inline-block;
  padding: 30px 60px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.btn-mailto {
  color: #fff;
  background: #a2cd6b;
  border: 2px solid #83b34b;
  margin-right: 50px;
}

.btn-mailto:hover {
  opacity: 0.9;
}

.btn-angel {
  border: 2px solid #bebebe;
  color: #686872;
  background: #fafafa;
}

.btn-angel:hover {
  opacity: 0.9;
}

.revenu-stream {
  letter-spacing: 1px;
  color: #4a4a4a;
  margin: 5px auto 30px;
  display: inline-block;
  font:
    bold 18px/30px 'Droid Sans',
    'Helvetica Neue',
    Helvetica,
    Arial,
    Sans-serif;
  color: #4a4a4a;
  border-bottom: 2px solid #dedede;
  width: 180px;
}

.revenu {
  margin: 0 auto;
  text-align: center;
}

.revenu ul {
  margin: 0 auto;
  float: left;
  width: 260px;
  background: #fff;
  padding: 20px;
  margin: 0 10px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  min-height: 300px;
}

.revenu ul:last-child {
  margin: 0 0 0 10px;
}

.revenu ul h4 {
  font-size: 18px;
  font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, Sans-serif;
  border-bottom: 2px solid #dedede;
  letter-spacing: 1px;
  color: #4a4a4a;
  font-weight: bold;
  line-height: 30px;
  margin: 30px auto;
}

.revenu ul.advertising h4 {
  width: 120px;
}

.revenu ul p.eg {
  font-style: italic;
  color: #7c7c7c;
  margin-top: 18px;
}

.revenu ul.transaction h4 {
  width: 124px;
}

.revenu ul.freemium h4 {
  width: 108px;
}

.exemple-business li {
  float: left;
  margin-right: 20px;
}

.exemple-business li:last-child {
  margin: 0 0 0 20px;
}
