html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background:#EDEDED;
	font-family:"Helvetica Neue", Helvetica, Arial, Sans-serif;
	font-size:14px;
	padding-bottom:40px;
}

.clear:before,
.clear:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clear:after {
    clear: both;
}


h1 {
	font-size:24px;
	color:#384047;
	line-height:36px;
	text-align:center;
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing: 1px;
	text-shadow: 0 2px 0 rgba(255,255,255,.25);
}

h2 {
	font-size:24px;
	color:#384047;
	font-weight:bold;
	line-height:36px;
	text-align:center;
}

p {
	font-size:16px;
	color:#5c656d;
	line-height:24px;
	text-align:center;
}

a {
	text-decoration: none;
	color:#4182B3;
}

img {
	border:none;
}

.wrapper {
	width:880px;
	padding:0 40px;
	margin:0 auto;
	background-color:#FFF;
}

.header {
	height:60px;
	background:#3B3A39;
	margin-bottom:40px;
}

.header .wrapper {
	padding:0;
	background:none;
	width:960px;
}

.header .wrapper a img {
	margin-top:11px;
}

/* HEAD */
.head {
	background: #FFF url(images/backgroundHead.png)no-repeat top;
	padding: 120px 40px 80px 40px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.head img {
	padding:70px 0;
}

.head p {
	width:800px;
	margin:0 auto;
}


/* CONTENT */

.content {
	position:relative;
	background: #FFF url(images/libraryVersus.png) no-repeat top;
	padding-top:403px;
	padding-bottom:60px;
}


/* LIBRARY VERSUS*/
.libraryVersusContent .old {
	width:440px;
	float:left;
	padding-top:20px;
}

.old .date > div {
	border:1px solid #CACACA;
	width:40px;
	height:40px;
	margin:0 auto 10px auto;
	-webkit-border-radius: 30px;
	   -moz-border-radius: 30px;
	        border-radius: 30px;
}

.old .date > div p {
	font-size:14px;
	font-weight:bold;
	line-height:40px;
}

.old .legendCollection {
	font-size:18px;
	font-variant:small-caps;
	font-weight:bold;
	letter-spacing: 1px;
}

.new li {
	color:#3b82b3;
}

.new .date > div {
	border:1px solid #B3CEE2;
}

.new .date > div p {
	color:#3b82b3;
}

.new .legendCollection {
	color:#3b82b3;
}

/* WHYD SOURCE */
.commingSoonImage img {
	position:absolute;
	right:0;
}

.commingSoonImage {
	height:555px;
	padding-top:180px;
	padding-bottom:40px
}

/* WHAT DO WHYD */
.whatDoWhyd {
	padding-top:80px;
	padding-bottom:80px;
}

.whatDoWhyd h2 {
	padding-bottom:20px;
}

.whatDoWhyd p {
	font-size:14px;
}

.whatDoWhyd ul li p{
	text-align:left;
	padding-bottom:38px;
}

.whatDoWhyd ul li p.lastp{
	text-align:left;
	padding-bottom:0;
}

.whatDoWhyd .col1 {
	float:left;
	width:400px;
	margin-right:80px;
}

/* OPENCONTENT */
.openContent {
	padding:0 0 60px 0;
}
.openContent .open {
	text-indent:-99999px;
	background:url(images/typeWeAreOpen.jpg)no-repeat center;
	padding:60px 0;
	text-align:center;
}

/* TIMELINECONTENT */
.timelineContent {
	padding: 30px 0;
}

.timelineContent h2 {
	padding-bottom:20px;
}


/* COMMUNITYCONTENT */
.communityContent {
	padding: 60px 0 30px 0;
}

.communityContent h2 {
	padding-bottom:20px;
}

.communityContent p {
	padding-bottom:20px;
}

.headCommunity {
	padding:20px 0;
}

.headCommunity li {
	float:left;
	margin-right:44px;
	margin-bottom:30px;
}

.headCommunity li.last {
	margin-right:0;
}

/* TEAMCONTENT */
.teamContent {
	padding:60px 0;
}

.teamContent h2 {
	padding-bottom:20px;
}

.teamContent p {
	padding-bottom:30px;
}

.contactBtn {
	display:block;
	max-width:340px;
	margin:0 auto;
	text-decoration:none;
	font-size:16px;
	border:3px solid #4182B3;
	padding:32px 34px;
	color:#50504D;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
}

.contactBtn span{
	font-weight:bold;
	color:#4182B3;
}

.headTeamFirst {
	width:416px;
	margin:0 auto;
	padding:40px 0 20px 0;
}

.headTeamFirst li {
	float:left;
	margin-right:44px;
}

.headTeamFirst li.last {
	margin-right:0;
}

.headTeamSecond {
	width:646px;
	margin:0 auto;
	padding-top:20px;
}

.headTeamSecond li {
	float:left;
	margin-right:44px;
}

.headTeamSecond li.last {
	margin-right:0;
}

/* LINKS */
.otherStuff {
	padding:30px 0;
}



/* IMAGE PRESS */
.imagePress {
	width:646px;
	margin:0 auto;
	padding-top:20px;
}

.imagePress li {
	float:left;
	margin-right:44px;
}

.imagePress li.last {
	margin-right:0;
}

.titlesocial {
	margin-bottom:20px;
}

.socials {
	padding:0 0 80px 0;
}

.socials li {

}

.socials .first {
	padding-top:0;
}

.socials .last {
	padding-bottom:0;
}



























