.whydEmbed {
  color: #555;
  font-family: helvetica, arial;
  font-size: 14px;
}

.whydEmbed * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.whydEmbed > div {
  position: relative;
  width: 300px;
  height: 200px;
  overflow: hidden;
  background: #333;
  background-size: cover;
  background-position: 50% 50%;
}

.whydEmbed > div * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.whydEmbed ul {
  width: 300px;
  height: 100px;
  overflow-x: hidden;
  padding-left: 20px;
  list-style: none;
  padding: 0;
  background: #ddd;
}

.whydEmbed li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: normal;
  cursor: pointer;
  white-space: nowrap;
  padding: 5px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
  border-top: 1px solid #eee;
  border-bottom: 1px solid #888;
}

.whydEmbed li span {
  display: inline-block;
  height: 14px;
  width: 12px;
  margin: 0px 6px;
  background: transparent url('/images/icon-embedv2-play-pause.png') no-repeat
    0 -14px;
}

.whydEmbed li:hover {
  background: #f0f1f2;
}
