#whydBookmarklet {
	display: block;
	position: fixed;
	right: 10px;
	top: 10px;
	width: 550px;
	height: 390px;
	border: 1px solid #b7b7b7;
	background: #EFEFEF;
	z-index: 1999999999;
	overflow: hidden;
	-webkit-box-shadow: 0 0 12px rgba(0,0,0,0.35);
	-moz-box-shadow: 0 0 12px rgba(0,0,0,0.35);
	-ms-box-shadow: 0 0 12px rgba(0,0,0,0.35);
	-o-box-shadow: 0 0 12px rgba(0,0,0,0.35);
	box-shadow: 0 0 12px rgba(0,0,0,0.35);
}

#whydHeader {
	position:relative;
	z-index: 2;
	width: 100%;
	margin: 0;
	padding:0;
	height: 49px;
	background: white;
/*	border-bottom: 1px solid #3E3E3F;
*/}

#whydHeader > a {
	position: absolute;
	top: 9px;
	left: 24px;
}

#whydHeader > div {
	position: absolute;
	top: 17px;
	right: 14px;
	cursor: pointer;
}

#whydContent {
	height: 350px;
	overflow-y: auto;
}

#whydLoading {
	position: absolute;
	top: 160px;
	left: 0px;
	width: 550px;
	text-align: center;
	z-index: 2;
}

/* extracted content */

.whydThumb {
	position: relative;
	padding: 6px;
	width: 120px;
	height: 120px;
	float: left;
	overflow:hidden;
	cursor: pointer;
}

.whydThumb > img { /* "share it" button */
	display: none;
}

.whydThumb > .whydCont {
	display: table-cell;
	width: 120px;
	height: 90px;
	vertical-align: middle;
	text-align: center;
}

.whydThumb > .whydCont > img {
	display: inline; /* to force img centering */
	max-width: 120px;
	max-height: 90px;
}

.whydThumb > p {
	text-align: center;
	font-family: "Helvetica-Neue", Helvetica, Arial, Sans-serif;
	font-size: 13px;
	color: #3177AF;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0;
}

.whydThumb:hover > .whydCont {
	/*background: #000;*/
	opacity: 0.5;
}

.whydThumb:hover > img { /* "share it" button */
	display: block;
	position: absolute;
	top: 35px;
	width: 120px;
}

