<style>
/* collaborative playlist feed page */

.bigBox {
	overflow: visible;
}

#btnContributors {
	position: absolute;
	top: 15px;
	right: 15px;
}

</style>

{{^rawFeed}}
<div class="bigBox">
	<div class="head">
		<h1>{{#playlist}}{{name}}{{/playlist}}</h1>
		<div id="btnContributors" class="greenButton" onclick="dlgPlContributors();">Contributors</div>
	</div>
	<div class="body">
{{/rawFeed}}

	{{{posts}}}

	{{#hasMore}}
		<div class="btnLoadMore" onclick="loadMore()"><div>&nbsp;</div><span>Load more</span></div>
		<script> window.nextPageUrl = window.location.href.split("?")[0] + "?after={{after}}"; </script>
	{{/hasMore}}

{{^rawFeed}}
	</div>
</div>
<script src="/js/collabPl.js" type="text/javascript" charset="utf-8"></script>
{{/rawFeed}}