<style>
.bigBox {
	overflow: visible;
}

.bigBox .head form {
	float: right;
}
</style>

<div class="bigBox">
	<div class="head">
		<form action="/fbconvert" method="post">
			<input type="hidden" name="action" value="convert">
			<input type="hidden" name="fbGroupId" value="{{fbGroupId}}">
			<input type="hidden" name="fbAccessToken" value="{{fbAccessToken}}">
			<input type="hidden" name="plName" value="{{plName}}">
			<button type="submit">Convert group!</button>
		</form>
		<!--<a id="btnConvert" class="no-ajaxy" href="/fbconvert?action=convert&amp;fbGroupId={{fbGroupId}}&amp;fbAccessToken={{fbAccessToken}}">
			Convert group!
		</a>-->
		<h1>Playlist preview</h2>
	</div>
	<div class="body">

	{{{posts}}}

	</div>
</div>
