<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>whyd password reset</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta name="ROBOTS" content="NONE" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/css/landing.css?2"
    />
    <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/images/favicon.png" rel="icon" type="image/png" />
    <!--<script src="/js/jquery-1.8.2.min.js" type="text/javascript" charset="utf-8"></script>-->
    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/jquery-migrate-1.2.1.js"></script>
    <script
      src="/js/jquery.placeholder.min.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <style>
      input#submit {
        background-color: transparent;
        background-image: url(/images/button-go.png);
        height: 41px;
        width: 54px;
        color: transparent;
      }

      input#submit:hover {
        background-position: 0 -46px;
      }

      input#submit:active {
        /*background: url(/images/go-active.png);*/
        background-position: 0 -92px;
      }
    </style>
  </head>

  <body>
    <div>
      <div>
        <img src="/images/logo_grad.png" />
        <p>Forgot your password? Enter a new one!</p>
        <div style="width: 570px">
          <form id="registerForm" method="post" action="/password">
            <input type="hidden" name="uid" value="{{uid}}" />
            <input type="hidden" name="resetCode" value="{{resetCode}}" />
            <input type="hidden" name="redirect" value="{{redirect}}" />
            <input
              class="box"
              type="text"
              readonly="readonly"
              name="email"
              value="{{email}}"
            />
            <input
              class="box"
              type="password"
              name="password"
              value="{{password}}"
              placeholder="password"
            />
            <input
              class="box"
              type="password"
              name="password2"
              value="{{password2}}"
              placeholder="password"
            />
            <input id="submit" type="submit" value="register" />
          </form>
        </div>
      </div>
    </div>

    <script>
      //var pwdRegex = /^[a-zA-Z0-9!@#$%^&*]{4,32}$/;

      var $password = $('input[name=password]').placeholder();
      var $password2 = $('input[name=password2]').placeholder();
      var $p = $('p');

      function error(message) {
        $p.html(message).css('color', '#f62339');
        return false;
      }

      if ('{{error}}'.length > 0) error('{{error}}');

      $('form#registerForm').submit(function (event) {
        var pwd = $password.val();
        if (pwd == 'password' || pwd != $password2.val())
          return error('You have to enter your new password, twice');
        else if (pwd.length < 4 || pwd.length > 32)
          return error('Your password must be between 4 and 32 characters');
        //else if (!pwdRegex.test(pwd))
        //	return error("Your password contains invalid characters");

        return true;
      });
    </script>
  </body>
</html>
