<style type="text/css">
/*<![CDATA[*/

	.whitePanel.loading {
		padding-bottom: 200px;
	}

	.pgPlContest h1 {
	}

	.pgPlContest p, ul, ol {
		font-size: 14px;
		color: #999;
		margin-bottom: 15px;
		line-height: 24px;
		font-weight: 400;
	}

	.pgPlContest .whitePanel {
		overflow-x: hidden;
	}

	/* i18n stuff */

	.pgPlContest .lang {
		position: absolute;
		top: 10px;
		right: 10px;
		overflow: auto;
	}

	.pgPlContest .lang a {
		float: left;
		width: 16px;
		height: 11px;
		opacity: 0.5;
		margin-left: 10px;
		cursor: pointer;
	}

	.pgPlContest .lang a:hover {
		opacity: 0.8;
	}

	.pgPlContest a.flagEN {
		background: url("/images/flag-uk.gif");
	}

	.pgPlContest a.flagFR {
		background: url("/images/flag-fr.gif");
	}

	.pgPlContest.langEN a.flagEN {
		opacity: 1;
	}

	.pgPlContest.langFR a.flagFR {
		opacity: 1;
	}

	/* sections */

	.pgPlContest .twoBoxes {
		overflow: auto;
		border: 1px solid #555;
		padding: 0 10px;
		margin-bottom: 30px;
	}

	.pgPlContest .twoBoxes > div {
		float: left;
		width: 446px;
		margin: 0 5px;
	}

	.pgPlContest .threeBoxes {
		overflow: auto;
		border: 1px solid #555;
		padding: 0 10px;
		margin-bottom: 30px;
	}

	.pgPlContest .threeBoxes > div {
		float: left;
		width: 290px;
		margin: 0 5px;
	}

	.pgPlContest .toCopy {
		border: 1px dashed #555;
		padding: 0 10px;
		margin-bottom: 30px;
	}

	.pgPlContest #btnCreate {
		margin-top: 20px;
	}

	/* form */

	.pgPlContest form {
		padding-left: 200px;
		padding-top: 20px;
	}

	.pgPlContest form fieldset {
		padding: 0;
		margin: 0;
		border: none;
		position: relative;
		margin-bottom: 20px;
	}

	.pgPlContest form fieldset legend {
		position: absolute;
		top: 5px;
		left: -200px;
		width: 180px;
		text-align: right;
		font-weight: bold;
		font-size: 11px;
	}

	.pgPlContest form fieldset input {
		float: left;
		width: 200px;
		padding: 4px;
		margin-right: 10px;
	}

	.pgPlContest form fieldset textarea {
		width: 400px;
		padding: 4px;
	}

	.pgPlContest form fieldset div.thumb {
		float: left;
		width: 100px;
		height: 50px;
		background-size: cover;
		background-position: 50% 50%;
	}

/*]]>*/
</style>

<div class="whitePanel">
	<div class="lang">
		<a class="flagEN" href="/playlistcontest?lang=EN"></a>
		<a class="flagFR" href="/playlistcontest?lang=FR"></a>
	</div>

	{{#i18n}}
	<h1>{{h1}}</h1>

	<!--<h2>{{t1}}</h2>-->
	<p>{{c1}}</p>

	<div class="twoBoxes">
		<div>
			<h3>{{t2}}</h3>
			<ul>{{#c2}}<li>{{li}}</li>{{/c2}}</ul>
		</div>
		<div>
			<h3>{{t3}}</h3>
			<ul>{{#c3}}<li>{{li}}</li>{{/c3}}</ul>
		</div>
	</div>
	<!--
	<h2>{{t4}}</h2>
	<ol>{{#c4}}<li>{{li}}</li>{{/c4}}</ol>
	-->
	<h2>{{t5}}</h2>
	<div id="whoDoesWhat" class="threeBoxes">
		{{#c5}}
		<div>
			<h3>{{h}}</h3>
			<ul>{{#ul}}<li>{{li}}</li>{{/ul}}</ul>
		</div>
		{{/c5}}
	</div>

	<h2>{{t6}}</h2>
	<div class="toCopy">
		<h3>{{t7}}</h3>
		{{#c7}}<p>{{p}}</p>{{/c7}}
	</div>

	{{^isAdmin}}
	<div id="btnCreate" class="greenButton" onclick="javascript:alert('Please send an email to tony@openwhyd.org to propose a contest!');">{{btnCreate}}</div>
	{{/isAdmin}}

	{{#isAdmin}}
	<div id="btnCreate" class="greenButton" onclick="$('#applicationForm').toggle();">{{btnCreate}}</div>

	<div class="section" id="applicationForm" style="display:none">
		<form action="/playlistcontest" method="post">
			<input type="hidden" name="action" value="save">
			{{#fldTitle}}
			<fieldset>
				<legend>{{legend}}</legend>
				<input type="text" name="title" placeholder="{{placeholder}}">
				<p id="contestUrl">openwhyd.org/playlistcontest/<span>{{placeholder}}</span>/join</p>
			</fieldset>
			{{/fldTitle}}
			{{#fldOrganizer}}
			<fieldset>
				<legend>{{legend}}</legend>
				<input type="text" name="uId" value="{{#loggedUser}}{{id}}{{/loggedUser}}">
				<div class="thumb"></div>
				<!--<input type="text" name="uNm" placeholder="{{#loggedUser}}{{name}}{{/loggedUser}}" readonly="readonly">
				<p><a href="/login">{{btnLogin}}</a></p>-->
			</fieldset>
			{{/fldOrganizer}}
			{{#fldPage}}
			<fieldset>
				<legend>{{legend}}</legend>
				<input type="text" name="url" placeholder="{{placeholder}}">
			</fieldset>
			{{/fldPage}}
			<fieldset>
				<button class="greenButton">Save</button>
			</fieldset>
		</form>
	</div>
	{{/isAdmin}}

	{{/i18n}}
</div>

<script src="/js/playlistcontest.js" type="text/javascript" charset="utf-8"></script>
