<script>
  //<![CDATA[

  var signup = {
    redirect: '',
    fields: {
      name: $('input[name=name]'),
      email: $('input[name=email]'),
      password: $('input[name=password]'),
    },

    init: function () {
      $('#popinSignup .fbButton').click(signup.facebookButton);

      $('form').iframePostForm({
        complete: function (res) {
          res = JSON.parse(
            res.substring(res.indexOf('{'), res.lastIndexOf('}') + 1),
          );
          console.log('response', res);
          $('.errorMessage').remove();
          if (res.error) {
            for (let fName in signup.fields) {
              var hasError = res.error.indexOf(fName) != -1;
              var $field = signup.fields[fName].toggleClass(
                'errorInput',
                hasError,
              );
              if (hasError) {
                $("<p class='errorMessage'></p>")
                  .text(res.error || '')
                  .insertAfter($field);
              }
            }
          } else if (res.redirect) {
            window.Whyd.tracking.signedUp(res.user);
            setTimeout(function () {
              window.location.href = signup.redirect || res.redirect;
            }, 500);
          }
        },
      });
    },

    facebookButton: function () {
      alert('Facebook is not supported anymore');
    },
  };

  $(document).ready(function () {
    signup.init();
  });

  //]]>
</script>

<div id="popinSignup">
  <a href="" class="close"></a>
  <div class="form">
    <h3>Create an account</h3>
    <p>It’s easy and only takes 4 seconds</p>

    <div class="fbButton">Create an account with Facebook</div>

    <span>Or with your email:</span>

    <form action="/register" method="post" accept-charset="utf-8">
      <input type="hidden" name="ajax" value="iframe" />
      <input type="hidden" name="iRf" value="{{iRf}}" />
      <input type="hidden" name="iPg" value="{{iPg}}" />
      {{#redirect}}<input
        type="hidden"
        name="redirect"
        value="{{redirect}}"
      />{{/redirect}}
      <input type="text" name="name" value="" placeholder="Full Name" />
      <input type="email" name="email" value="{{email}}" placeholder="Email" />
      <input type="password" name="password" value="" placeholder="Password" />
      <p class="condition">
        By creating an account, I accept Openwhyd's
        <a target="_blank" href="/privacy" title="Privacy policy"
          >privacy policy</a
        >.
      </p>
      <input type="hidden" name="includeUser" value="1" />
      <input type="submit" id="btnSignUp" value="Create an account" />
    </form>
  </div>
</div>

<script src="/api/signup/rTk/7" type="text/javascript" charset="utf-8"></script>
