{{^embedded}}
<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/css/postEdit.css"
    />
    <title>Add a track to Openwhyd</title>
    {{{head}}}
    <script>
      /* playem init */
      window.DEEZER_APP_ID = 190482;
      window.DEEZER_CHANNEL_URL = '{{urlPrefix}}/html/deezer.channel.html';
      window.JAMENDO_CLIENT_ID = 'c9cb2a0a';
    </script>
  </head>
  <body class="dlgPostEdit {{^embedded}}dlgRepostBox{{/embedded}}">
    {{/embedded}}
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/css/postBox.css"
    />
    <div id="contentThumb">
      <div><div>{{{htmlEmbed}}}</div></div>
    </div>
    <div id="contentData">
      {{^editPost}}
      <p id="contentTitle">{{title}}</p>
      {{/editPost}} {{#editPost}}<input
        type="text"
        id="contentTitleInput"
        value="{{title}}"
      />{{/editPost}}
      <span id="contentSource"></span>
    </div>
    <div id="postForm">
      <div id="selPlaylist">
        <span class="head"
          >Select a playlist <small>(optional)</small
          ><span>&#x25BC;</span></span
        >
        <div class="content">
          <ul>
            <li data-plid="null">
              Select a playlist <small>(optional)</small>
            </li>
            {{#playlists}}
            <li data-plid="{{id}}">{{name}}</li>
            {{/playlists}}
          </ul>
          <form action="javascript:;">
            <input
              type="text"
              id="newPlaylistName"
              placeholder="Create a playlist"
            />
            <input type="submit" class="greenButton" value="Create" />
          </form>
        </div>
      </div>
      <div>
        <textarea
          name="text"
          id="text"
          class="shareField"
          placeholder="Description (optional)"
        >
{{text}}</textarea
        >
      </div>
      <span id="btnSubmit">
        {{^editPost}}Add{{/editPost}} {{#editPost}}Save{{/editPost}}
      </span>
      {{#editPost}}
      <div id="lnkDeletePost">Delete this track</div>
      {{/editPost}}
    </div>
    <div id="confirmationScreen">
      <span>Yay, you added a new track!</span>
      <p><a href="" target="_blank">See your track</a></p>
      <div>
        <span>Share it with your friends</span>
        <div class="sharing"></div>
      </div>
    </div>
    {{#trackPresenceMsg}}
    <div id="trackPresenceMsg">{{trackPresenceMsg}}</div>
    {{/trackPresenceMsg}} {{^embedded}}
    <!--<script src="/js/jquery-1.10.2.min.js"></script>-->
    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/jquery-migrate-1.2.1.js"></script>
    <script src="/js/underscore-min.js"></script>
    <!-- for jquery.mentionsInput.js -->
    <script src="/js/jquery.elastic.js"></script>
    <!-- for jquery.mentionsInput.js -->
    <script src="/js/jquery.mentionsInput.js"></script>
    <script src="/js/playem-min.js"></script>
    {{/embedded}}
    <script src="/js/postBox.js"></script>
    <script>
      	/*<![CDATA[*/
      	initPostBox({
      		mode: "{{^embedded}}addFromBookmarklet{{/embedded}}{{#editPost}}editPost{{/editPost}}{{#repost}}repost{{/repost}}"
      		, ctx: "{{ctx}}"
      		, pId: "{{pId}}"
      		, embed: "{{{embed}}}"
      		, title: "{{title}}"
      		, img: "{{img}}"
      		, src: { id: "{{{refUrl}}}".replace(/\&amp\;/g, "&"), name: "{{refTtl}}" }
      {{#pl}} , pl: { id: "{{id}}", name: "{{{_js_name}}}".replace(/\&amp\;/g, "&") }{{/pl}}
      	});
      	/*]]>*/
    </script>
    {{^embedded}}
  </body>
</html>
{{/embedded}}
