<style>
  .sideBox > div {
    overflow: auto;
  }

  .sideBox > div > p {
    margin-bottom: 8px;
  }

  #sideBoxLinks {
    margin: 12px 0;
    text-align: center;
    font-size: 14px;
  }

  #sideBoxLinks a {
    color: #3177af;
    display: inline-block;
    border-radius: 2rem;
    background-color: #fafafa;
    padding: 8px 12px;
    margin: 8px;
  }

  #sideBoxLinks a:hover {
    background-color: #62a1d3;
    color: #fff;
  }
</style>

<div class="sideBox">
  <div class="head">
    <h2>⚠️ User accounts will evolve soon</h2>
  </div>
  <div class="body" style="overflow: auto">
    <p style="margin-bottom: 8px">
      Make sure that you don't lose access to your tracks!
    </p>
    <div id="sideBoxLinks" style="clear: both">
      <a
        download="my-openwhyd-tracks.json"
        href="/me?format=json&limit=999999"
        target="_blank"
        rel="noopener"
        class="no-ajaxy"
        >💾 &nbsp; Backup your tracks</a
      >
      <a href="/settings" target="_blank" rel="noopener" class="no-ajaxy"
        >📧 &nbsp; Update your email address</a
      >
    </div>
  </div>
</div>
