<!-- to use this template, rename this file to sideBox.html -->

<style>
  .sideBox > div {
    overflow: auto;
  }

  .sideBox > div > p {
    margin-bottom: 8px;
  }

  #sideBoxLinks {
    margin: 12px 0;
    text-align: center;
    font-size: 14px;
  }

  #sideBoxLinks a {
    color: #3177af;
    display: inline-block;
    border-radius: 2rem;
    background-color: #fafafa;
    padding: 8px 12px;
    margin: 8px;
  }

  #sideBoxLinks a:hover {
    background-color: #62a1d3;
    color: #fff;
  }
</style>

<div class="sideBox">
  <div class="head">
    <h2>😓 Issues with YouTube API</h2>
  </div>
  <div class="body">
    <p>
      Our YouTube API quota was greatly reduced. As a result, you may sometimes
      not be able to add YouTube tracks to your Openwhyd account.
    </p>
    <p>We're currently working on this. Any help is welcome!</p>
    <div id="sideBoxLinks">
      <a
        href="https://www.facebook.com/openwhyd"
        target="_blank"
        class="no-ajaxy"
        >on Facebook</a
      >
      <a
        href="https://github.com/openwhyd/openwhyd/issues/262"
        target="_blank"
        class="no-ajaxy"
        >on GitHub</a
      >
    </div>
    <p>Thanks for your patience and understanding.</p>
  </div>
</div>
