<style>
  .sideBox > div {
    overflow: auto;
  }

  .sideBox > div > p {
    margin-bottom: 8px;
  }

  #sideBoxLinks {
    margin: 12px 0;
    text-align: center;
    font-size: 14px;
  }

  #sideBoxLinks a {
    color: #3177af;
    display: inline-block;
    border-radius: 2rem;
    background-color: #fafafa;
    padding: 8px 12px;
    margin: 8px;
  }

  #sideBoxLinks a:hover {
    background-color: #62a1d3;
    color: #fff;
  }
</style>

<!--
<div class="sideBox sidebox--important">
  <div class="head">
    <h2>🌠 Wanted: Mobile Developer</h2>
  </div>
  <div class="body">
    <img
      src="/images/github-octocat.png"
      width="64px"
      style="float: left; margin-right: 16px"
      alt="contribute to open-source project openwhyd on github"
    />
    <p>Hundreds of Openwhyd users are still hoping for a mobile app!</p>
    <p>If you want to help us build one, come say Hi!</p>
    <div id="sideBoxLinks">
      <a
        href="https://github.com/openwhyd/openwhyd/issues/194"
        target="_blank"
        class="no-ajaxy"
        >on GitHub</a
      >
      <a
        href="https://www.facebook.com/openwhyd"
        target="_blank"
        class="no-ajaxy"
        >on Facebook</a
      >
    </div>
    <p>Beginners are welcome 🤗 and will be guided through the process.</p>
  </div>
</div>
-->
<!--
<div class="sideBox sidebox--important">
  <div class="head">
    <h2>😓 Issues with YouTube API</h2>
  </div>
  <div class="body">
    <p>Our YouTube API quota was greatly reduced. As a result, you may sometimes not be able to add YouTube tracks to
      your Openwhyd account.
    </p>
    <p>We're currently working on this. Any help is welcome!</p>
    <div id="sideBoxLinks">
      <a href="https://www.facebook.com/openwhyd" target="_blank" class="no-ajaxy">on Facebook</a>
      <a href="https://github.com/openwhyd/openwhyd/issues/262" target="_blank" class="no-ajaxy">on GitHub</a>
    </div>
    <p>Thanks for your patience and understanding.</p>
  </div>
</div>
-->
<!--
<div class="sideBox sidebox--important">
  <div class="head">
    <h2>🤗 Openwhyd needs you!</h2>
  </div>
  <div class="body" style="overflow:auto;">
    <a href="https://openwhyd.org/contribute" target="_blank" class="no-ajaxy">
      <img src="/images/github-octocat.png" width="64px" style="float:left; margin-right:16px;"
        alt="contribute to open-source project openwhyd on github">
    </a>
    <p style="margin-bottom:8px;">Help us keep Openwhyd free and independent by donating $1 today!</p>
    <p style="margin-bottom:8px;">Developers, contribute to our open-source project on GitHub!</p>
    <div id="sideBoxLinks">
      <a href="https://opencollective.com/openwhyd/donate" target="_blank" class="no-ajaxy">Donate</a>
      <a href="https://openwhyd.org/contribute" target="_blank" class="no-ajaxy">Improve Openwhyd</a>
    </div>
  </div>
</div>
-->
<div class="sideBox">
  <div class="head">
    <h2>Join our community on Facebook</h2>
  </div>
  <div class="body" style="overflow: auto">
    <img
      src="/images/megaphone.png"
      width="28px"
      height="28px"
      style="float: left; margin-right: 16px"
      alt="openwhyd announcement megaphone"
    />
    <p style="margin-bottom: 8px">
      Want to meet fellow Openwhyd users, share an idea, or ask a question?
    </p>
    <div id="sideBoxLinks" style="clear: both">
      <a
        href="https://www.facebook.com/groups/openwhyd/"
        target="_blank"
        class="no-ajaxy"
        >Come say hi!</a
      >
      <a href="mailto:contact@openwhyd.org" target="_blank" class="no-ajaxy"
        >Contact us</a
      >
    </div>
  </div>
</div>
<!--
<div class="sideBox">
  <div class="head">
    <h2>What is Openwhyd?</h2>
  </div>
  <div class="body" style="overflow:auto;">
    <img src="/images/logo2-square-512px.png" width="64" height="64" style="float:left; margin-right:16px;" alt="openwhyd announcement logo music">
    <p style="margin-bottom:8px;">A community of volunteers!</p>
    <a style="display: block;" href="https://medium.com/@adrienjoly/music-amongst-other-topics-a4f41657d6d" target="_blank" class="no-ajaxy">→ Read our story</a>
    <a style="display: block;" href="https://www.facebook.com/groups/openwhyd/" target="_blank" class="no-ajaxy">→ Join the music lovers club</a>
  </div>
</div>
-->
<!--
<div class="sideBox sidebox--important">
  <div class="head">
    <h2>💓 Openwhyd needs you!</h2>
  </div>
  <div class="body" style="overflow:auto;">
    <a href="https://opencollective.com/openwhyd#support" target="_blank" class="no-ajaxy">
      <img src="/images/github-octocat.png" width="64px" style="float:left; margin-right:16px;" alt="donate / support openwhyd on opencollective">
    </a>
    <p style="margin-bottom:8px;">Help us keep Openwhyd free, independant and without ads.</p>
    <p style="margin-bottom:12px;font-weight:bold;">Donate today!</p>
    <div id="donateBox" style="margin: 12px 0; text-align: center; font-size: 14px;">
      <a href="https://opencollective.com/openwhyd/donate" target="_blank" class="no-ajaxy">
        <span style="padding: 8px;">$1</span>
        <span style="padding: 8px;">$2</span>
        <span style="padding: 8px;">$5</span>
        <span style="padding: 8px;">$10</span>
        <span style="padding: 8px;">$20</span>
      </a>
    </div>
  </div>
  <style>
    #donateBox a { color: #3177AF; }
    #donateBox span { display: inline-block; width: 28px; border-radius: 2rem; background-color: #fafafa; }
    #donateBox span:hover { background-color: #62A1D3; color: #fff; }
  </style>
</div>
-->
